@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-muted: var(--muted);
  
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --border: #e4e4e7;
    --card: #ffffff;
    --muted: #71717a;      
  }

  .dark {
    --background: #09090b; 
    --foreground: #fafafa; 
    --border: #27272a;     
    --card: #09090b;
    --muted: #a1a1aa;
  }

  body {
    @apply bg-background text-foreground antialiased transition-colors duration-300;
    background-image: radial-gradient(circle at 1px 1px, var(--border) 1px, transparent 0);
    background-size: 40px 40px;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}

.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 999;
}

.light::view-transition-old(root) {
  z-index: 999;
}
.light::view-transition-new(root) {
  z-index: 1;
}

@utility hover-glow {
  &:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    border-color: var(--muted);
  }
}

@utility code-window {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom right, rgba(255,255,255,0.05), transparent);
    pointer-events: none;
  }
}

.btn-borderhoverbutton {
  position: relative;

  background-color: gray;

  border-color: #dd7e2a;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 0.375rem;
  font-weight: 500;
  transition: all 0.3s;
}


.btn-borderhoverbutton::before,
.btn-borderhoverbutton::after,
.btn-borderhoverbutton span::before,
.btn-borderhoverbutton span::after {
  width: 110%;
  height: 130%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;

  border: 0px solid #dd7e2a;
  content: "";
  pointer-events: none;
}

.btn-borderhoverbutton::before {
  border-top-width: 1px;
  transition-delay: 0.3s;
  transform-origin: right top;
}

.btn-borderhoverbutton::after {
  border-bottom-width: 1px;
  transition-delay: 0.9s;
  transform-origin: left bottom;
}

.btn-borderhoverbutton span::before {
  border-left-width: 1px;
  transition-delay: 0.6s;
  transform-origin: left top;
}

.btn-borderhoverbutton span::after {
  border-right-width: 1px;
  transition-delay: 0s;
  transform-origin: right bottom;
}

.btn-borderhoverbutton:hover::before,
.btn-borderhoverbutton:hover::after,
.btn-borderhoverbutton:hover span::before,
.btn-borderhoverbutton:hover span::after {
  transform: translate(-50%, -50%) scale(1);
}